
.wdk_status-view details summary {
    font-size: 70%;
    cursor: pointer;
    text-decoration: underline;
}

.wdk_status-view details .details {
    text-align: left;
    font-family: monospace;
    white-space: pre;
}
